# === Log Source ===
LOG_SOURCE_PROVIDER=loki
LOG_SOURCE_CONFIG = {"url": "http://...", "app_name": "backend"}

# === LLM Settings ===
LLM_PROVIDER=yandex
LLM_MODEL=yandex-gpt-lite
LLM_TEMPERATURE=0.6
LLM_MAX_TOKENS=1000

# === LLM Provider ===
# YANDEX
LLM_PROVIDER_CONFIG = {"api_key": "xxx", "catalog_id": "yyy"}
# OLLAMA
LLM_PROVIDER_CONFIG = {"BASE_URL": "http://host.docker.internal:11434", "TIMEOUT": "120"}

# === Notifications ===
NOTIFICATION_CONFIG = {"BOT_TOKEN": "xxx", "CHAT_ID": "yyyy"}

# === Global app settings ===
SCHEDULE_ENABLED=true
SCHEDULE_INTERVAL_HOURS=6

# === Report Templates (optional) ===
REPORT_ANALYZE_TEMPLATE=analysis_detailed.html
REPORT_RECENT_TEMPLATE=recent_errors.html
REPORT_STATS_TEMPLATE=statistics.html
