LOKI_URL=http://loki:...
LOKI_APP_NAME=backend
OLLAMA_BASE_URL=https://ollama...
OLLAMA_TIMEOUT=60
LLMProvider=yandex
LLMModel=yandex-gpt-lite
YANDEX_API_KEY=api_key
YANDEX_CATALOG_ID=...
LLM_TEMPERATURE=0.6
TELEGRAM_BOT_TOKEN=123456789:ABCdafaHIjklMNOpqrsTUVwxyz
TELEGRAM_CHAT_ID=123456789
MAX_TOKENS_LLM_ANSWER=1000
