# === Log Source ===
LOG_SOURCE_PROVIDER=loki
LOG_SOURCE_CONFIG__URL=http://localhost:3100
LOG_SOURCE_CONFIG__APP_NAME=backend

# === LLM Provider === (Only one)
LLM_PROVIDER_PROVIDER=yandex
LLM_PROVIDER_PROVIDER=ollama

# YANDEX
LLM_PROVIDER_CONFIG__API_KEY=xxx
LLM_PROVIDER_CONFIG__CATALOG_ID=yyy
LLM_PROVIDER_CONFIG__BASE_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/completion

# OLLAMA
LLM_PROVIDER_CONFIG__BASE_URL=http://host.docker.internal:11434
LLM_PROVIDER_CONFIG__TIMEOUT=120

# === LLM Settings ===
LLM_MODEL=deepseek-r1:7b
LLM_TEMPERATURE=0.6
LLM_MAX_TOKENS=1000

# === Notifications ===
NOTIFICATION_PROVIDER=telegram
NOTIFICATION_CONFIG__BOT_TOKEN=xxx
NOTIFICATION_CONFIG__CHAT_ID=yyy

# === Scheduler ===
SCHEDULE_ENABLED=true
SCHEDULE_INTERVAL_HOURS=6

# === Storage (optional) ===
STORAGE_PROVIDER=redis
STORAGE_CONFIG__HOST=http://...
STORAGE_CONFIG__PORT=6739
STORAGE_CONFIG__DB=1 # (optional)
STORAGE_CONFIG__PASSWORD=qwerty # (optional)

# === Report Templates (optional) ===
REPORT_ANALYZE_TEMPLATE=analysis_detailed.html
REPORT_RECENT_TEMPLATE=recent_errors.html
REPORT_STATS_TEMPLATE=statistics.html
